*{
    margin: 0;
}
header{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 16px 0;
}
section{
    max-width: 992px;
    margin: auto;
    display: flex;
    gap: 15px;
}
.titleBar{
    text-align: center;
}
.img-fluid{
    width: 100%;
    border-radius: 10px;
}
.income-container{
    padding: 32px 75px 0 75px;
    border-radius: 10px;
    background-color: #F8F8F8;
}
.income-expenses, .income{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}
.income{
    margin-top: 0;
}
.income-expenses input, .income input{
    padding: 8px;
    border-radius: 5px;
}
.calculate{
    text-align: center;
    margin-top: 18px;
}
.main-calculate{
    padding: 5px 15px 5px;
    border-radius: 5px;
    background-color: dimgrey;
    border: none;
}
.main-calculate:hover{
    background-color: darkorchid;
}
.saving-calculate{
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 10px;
}
@media screen and (max-width: 576px) {
    .disNone{
        display: none;
    }
    .income-container{
        padding: 55px;
        margin: auto;
    }
}